<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title | escape }} &laquo; {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{{ page.excerpt | default: site.description | escape }}">

	<link href="https://unpkg.com/primer-css@9.5.0/build/build.css" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="canonical" href="{{ page.url | absolute_url | replace:'index.html','' }}">
</head>
