---
layout: default
---

<article>
	<div class="markdown-body">
		<h1>{{ site.title }}</h1>
		
		{% unless page.content == '' %}
			<p>{{ page.content }}</p>
		{% endunless %}
		
		<h2>Latest Ideas</h2>
		{% for category in site.categories %}
			{% assign ideas = site.ideas | where:"category",category.category | sort: "date" | reverse %}
			{% if ideas.size > 0 %}
				<h3>{{ category.title }}</h3>
				<ul>
					{% for idea in ideas limit:5 %}
						<li><a href="{{ idea.url | relative_url }}">{{ idea.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
	</div>
</article>